.all {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    margin-top: 60px;
    .form {
        display: flex;
        align-items: start;
        width: 600px;
        margin: auto;

        .input {
            width: 100%;
        }

        button {
            width: 20%;
        }
    }

    .list {
        width: 600px;
        margin: auto;
    }
}